<html>
<head>
  <title>Send Message</title>
</head>
<body>
  <h1>Send Message</h1>
  <form action="/send" method="POST">
    <textarea name="message" placeholder="Enter your message" required></textarea>
    <button type="submit">Send</button>
  </form>
</body>
</html>